@import url(main.css);
@import url(normalize.css);
@import url(navBar.css);
*{color: black;}
body{
    margin-top: 110px;
    margin-bottom: 20px;
}
section{
    display: grid;
    justify-items: center;
}
.mainText{
    margin: 0 0 2vmin 0;
    font-weight: bold;
    font-size: 4.5vmin;
}
.textDescription{
    font-weight: 600;
}
h1{
    margin-top: 0;
    font-size: 5vmin;
}
.container{
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    display:grid;
    color: black;
    background-color: var(--font-color) ;
}
@media (min-width: 950px){
    .container{
        height:75vh;
        grid-template-rows: max-content 1fr;
        display: grid;
    }
    section{
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 4vmin 1fr;
        gap: 10px;
    }
    b.mainText{
        /* height: 10px; */
        /* margin-bottom: 20px; */
        grid-column: 1/-1;
        justify-self: start;
    }
    .image{
        grid-row:2/3 ;
        grid-column: 2/3;
        height: 70%;
        align-self: center;
    }
    p.textDescription{
        font-size: 4vmin;
    }
}
