@import url(main.css);
body {
    background-image: url(../images/bg_parking_night.jpg);
    margin-top: 90px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden;
    overflow-y: visible;
}
h1#title{
    display: inline-block;
    font-size: 50px;
    color: var(--font-color);
    margin: 10px;
    margin-left: 20px;
}
@media (max-width: 550px){
    h1#title{
        font-size: 10vw;
    }
}
@media (max-width:500px){
    .image_tall{
        width: 80vw;
    }
}
.galery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image_tall:hover{
    animation-name: micaela;
    animation-duration: 0.3s;
    opacity:1;
    animation-fill-mode: forwards;
}
@keyframes micaela {
    100%{
        transform:scale(1.05);
    }
}
.image_tall{
    width: 300px;
    position: relative;
}
.pdf{
    display: none;
}
embed.pdf.active{
    display: inline-block;
    position: fixed;
    z-index: 100;
    left: 50%;
    top:3%;
    width: 80%;
    height: 95%;
    transform: translate(-50%);
    /* background-color: rgba(0 , 0 , 0 , .5); */
    /* outline: 100px black; */
    /* overflow:hidden; */
}
.closePdfBtn{
    display: none;
}
.closePdfBtn.active{
    display: inline-block;
    background: none;
    border: none;
    font-size: 40px;
    position: fixed;
    z-index: 200;
    top:10%;
    color: white;
    text-shadow: 3px 3px 5px white;
    right: 3%;
    cursor: pointer;
}
path, svg{
    fill: var(--font-color);
    transform: scale(1.5);
    cursor: pointer;
}
.menuBtn{
    width: 40px;
    height: 30px;
}
.closeBtn{
    color: var(--font-color);
    transform: scaleY(.85);
    text-shadow: 0 0 10px var(--font-color);
    cursor: pointer;
}