@import url(navBar.css);
@import url(normalize.css);
:root{
    --font-color: rgba(251, 255, 237, 0.892);
}
*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: "Didact Gothic", sans-serif;
}